html {
    position: relative;
    min-height: 100%;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
  
/*Jumbotron*/
#jumbotron {
    background-color: rgba(57,57,57,1) !important;
    border-radius: 0!important;
    user-select:none;
}

#jumbotron > h1 > span {
    color: rgba(0,0,0,0);
    position: relative;
    animation-name: example;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        color: rgba(0,0,0,0);
    }

    25% {
        color: rgba(0,0,0,0);
    }

    50% {
        color: rgba(0,0,0,0);
    }
    60% {
        color: white;
    }

    100% {
        color: white;
    }
}


/*Navbar*/

#layout-nav {
    padding: 0;
}


a.nav-link {
    color:black!important;
    margin: .5rem 1rem;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav-item {
    border-bottom: 2px solid rgba(255,255,255, 0);
}

.nav-item.active {
    border-bottom: 2px solid #343a40;
}

.nav-link:hover , .hover{
    cursor: pointer;
}

.nav-item {
    border-bottom: 2px solid rgba(255,255,255, 0);
}

.nav-direct.active, .nav-item:hover {
    border-bottom: 2px solid #343a40;
}


/*Page*/

.rotate180{
    transform: rotate(180deg);
}

.copyTrigger:hover{
    cursor: pointer;
}


