body{
    background-image: url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/SRsQjwFQMjby34s1c/videoblocks-digital-seamless-mathematical-symbols-loop-abstract-digital-futuristic-motion-background-with-math-and-physics-symbols-and-mesh-network-grid-3d-animation-with-alpha-matte-channel-4k-science-concept_s6zxzrndwe_thumbnail-1080_01.png');
    background-repeat: repeat-y;
    background-attachment: fixed;
}

p{
    font-size:larger;
}

#main-container{
    display: block;
    opacity: 0.95;
}

#imageContainer > a > img{
    display: block;
    width: 100%;
    opacity: 1!important;
}